.sharebox{
    overflow: hidden;
}
.share-item{
    float: left;
    display:block;
    width:32px;
    height:32px;
    margin:0 2px;
    background-position-x:0;
    background-position-y:-10px;
    background-image:url("../images/css_sprites(32).png");
    color:transparent;
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
}
.share-item:hover{
    -webkit-filter:grayscale(0);
    filter:grayscale(0);
    opacity:0.8;
    filter:alpha(opacity=80);
}
.share-item.weixin{
    background-position-x:-426px;        
}
.share-item.weibo{
    background-position-x:-322px;
}
.share-item.qq{
    background-position-x:-166px;
}
.share-item.qqzone{
    background-position-x:-114px;
}
.share-item.qqweibo{
    background-position-x:-270px;
}
.share-item.renren{
    background-position-x:-218px;
}
.share-item.douban{
    background-position-x:-10px;
}
.share-item.googleplus{
    background-position-x:-374px;
}
.share-item.facebook{
    background-position-x:-62px;
}
.qrcode{
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    border:1px solid #ccc;
    padding:10px;
}
.qrcode>.title{
    text-align:center;
}